html,
body {
    width: 100%;
    height: 100%;
    background: lightgray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 48px;
}

canvas {
    border: 3px solid white;
}